
.button
{
    -fx-background-color: #211f1f;
}
.button:hover{
    -fx-background-color: #404040;
}
.button:pressed{
    -fx-background-color: #282727;
}

.anchorPane{
    -fx-background-color: #302e2e;
}

.mensaje .content{
    -fx-background-color: #302e2e;
    -fx-border-color: #000000;

}
.text-area   {
    -fx-background-color: #302e2e;
    -fx-border-color: #000000;
    -fx-text-fill: #f1f1f1;

}
.chat .content{
    -fx-background-color: #302e2e;
    -fx-border-color: #000000;

}

.text-field{
    -fx-background-color: #302e2e;
    -fx-border-color: #000000;
    -fx-text-fill: #f1f1f1;
}